# XpertSelect / Tools                    #
# -------------------------------------- #
# PHPStan configuration file for generic #
# non-framework PHP projects.            #
# -------------------------------------- #

parameters:
  level: 8
  paths:
    - src
  tipsOfTheDay: false
  checkMissingIterableValueType: true
